p Hi #{name},
p You have successfuly created an account on ProductiviON!

span To begin using ProductiviON, 
a(href=link) click on this link 
span to verify your email.

p We wish you a pleasant experience with ProductiviON!

p Best regards,
p Your ProductiviON team