p Hi #{name},
p Someone has requested a password reset for your account on ProductiviON.
a(href=link) Click on this link 
span to begin resetting your password. The link will expire in #{expiryTimeHours} hours.

p If you didn't request the password reset, then you can safely ignore this e-mail.

p Best regards,
p Your ProductiviON team